  <div class="col-md-12">
  	<div class="well">
  		<p>This is the posts page. Here we will have a list of posts.</p>
      <p>Have some options as for how these are ordered, order by PostDate by default.</p>
      <p><button class="btn btn-info" disabled>For future testing</button></p>
      <br>
      <p>
        <div class="panel panel-default" ng-repeat="post in posts">
          <div class="panel-heading">
            <a href ui-sref="adminEditPost({postId: post.postId})"><h3 class="panel-title">{{post.title}}</a> <small>by {{post.author}}</small></h3>
          </div>
          <div class="panel-body">
            <p ng-bind-html="post.summary"></p>
            <p>Posted: {{post.postDate}}<text ng-if="post.lastEditDate">, last edited: {{post.lastEditDate}}</text></p>
          </div>
        </div>
      </p>
    </div>
  </div>