  <div class="col-md-12">
  	<div class="well">
  		<p>This is the posts page. Here we will have a list of posts.</p>
      <p>Have some options as for how these are ordered, order by PostDate by default.</p>
      <p>We can pass a param for odering through the URL.... /posts/recent/, etc</p>
      <br>
      <p class="text-right">
        <a ui-sref="adminCreatePost"><button class="btn btn-info">Create Post</button></a>
      </p>
      <p>
        <table class="table table-striped table-bordered">
          <tr>
            <td>Title</td>
            <td>Posted by</td>
            <td>Posted on</td>
            <td>Last Edited</td>
            <td>Options</td>
          </tr>
          <tr ng-repeat="post in posts">
          <td><a ui-sref="adminEditPost({postId: post.postId})">{{post.title | limitTo: 15}}</a></td>
            <td>{{post.author}}</td>
            <td>{{post.postDate}}</td>
            <td><span ng-if="post.lastEditDate">{{post.lastEditDate}} by {{post.lastEditUser}}</span></td>
            <td><a ui-sref="post({postId: post.postId})">View</a> - <a ng-click="remove(post.postId, $index)">Delete</a></td>
          </tr>
        </table>
      </p>
    </div>
  </div>