  <div class="col-md-12">
  	<div class="row">
      <div class="col-md-4">
        <div class="well">
          <p>Navbar stuff!</p>
          <p><b>NOTE: </b> Dynaic titles on posts (not pages) are working. Currently working on getting a JSON gui set up now.</p>
          <p>It would be better to set this up as a completely separate table, because then we could have a view of what pages are and aren't visible and can/will be displayed. This would need to be maintained in a completely different way though. This rudimentary version is good for 1.0.</p>
          <p>{{pages.pages}}</p>
          <div class="parent" ng-repeat="page in pages.pages track by $index" ng-init="parentIndex = $index">
            <!-- <p>{{pages.pages[parentIndex]}}</p> -->
            <select name="repeatSelect" id="pageOptions" ng-options="option.name for option in pages.pageListing track by option.url" ng-model="pages.pages[parentIndex]"/> <span ng-click="navbarRemove(pages.pages, parentIndex)">-</span> <span ng-click="navbarAdd(pages.pages[parentIndex])">+</span>
            
            <div class="child" style="padding-left: 2em;" ng-repeat="child in page.children" ng-if="page.children" ng-init="childIndex = $index">
              <!-- <p>{{pages.pages[parentIndex].children[childIndex]}}</p> -->
              <select name="repeatSelect" id="pageOptions" ng-options="option.name for option in pages.pageListing track by option.url" ng-model="pages.pages[parentIndex].children[childIndex]"/> <span ng-click="navbarRemove(pages.pages[parentIndex].children, childIndex)">-</span> <span ng-click="navbarAdd(pages.pages[parentIndex].children[childIndex])">+</span>

              <div class="grandchild" style="padding-left: 2em;" ng-repeat="grandchild in child.children" ng-if="child.children" ng-init="grandchildIndex = $index">
                <!-- <p>{{pages.pages[parentIndex].children[childIndex]}}</p> -->
                <select name="repeatSelect" id="pageOptions" ng-options="option.name for option in pages.pageListing track by option.url" ng-model="pages.pages[parentIndex].children[childIndex].children[grandchildIndex]"/> <span ng-click="navbarRemove(pages.pages[parentIndex].children[childIndex].children, grandchildIndex)">-</span> <span ng-click="navbarAdd(pages.pages[parentIndex].children[childIndex].children[grandchildIndex])">+</span>
              </div>
            </div>
          </div>
          <br>
          <p><button class="btn btn-info" ng-click="navbarAdd(pages.pages)">Add a page</button></p>
        </div>
      </div>
      <div class="col-md-8">
        <nav class="navbar navbar-default">
          <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <a class="navbar-brand" href="#">Hermes</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav">
              <li><a href="">Blog</a></li>
                <li ng-repeat="page in pages.pages"><a>{{page.name}}</a></li>
              </ul>
            </div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->
        </nav>
      </div>
    </div>
  </div>