<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <div class="well">
    <p>Email: {{email}}</p>
    <p>Password: {{password}}</p>
      <form action="">
        <p><input type="text" class="form-control" ng-model="email" placeholder="Email"></p>
        <p><input type="text" class="form-control" ng-model="password" placeholder="Password"></p>
      </form>
      <button class="btn" ng-click="authenticate()">Login</button>
      <button class="btn" ng-click="checkLocal()">Check Local</button>
    </div>
  </div>
</div>