  <div class="col-md-9">
  	<div class="well">
      <p>So, heads up. We need to click out of the text box for changes to apply. Either make a workaround or make a note of this. Also have to make handling for when the DB is passed these empty strings and whatnot. Maybe just recreate the notNull() we used in MMWH?</p>
      <p>We could just put a "timeout" on the save function.</p>
      <br>      
      <div class="panel panel-default" ng-if="post">
        <div class="panel-heading">
          <div class="panel-title"><input type="text" class="form-control" ng-model="post.title" placeholder="Post Title"></div>
        </div>
        <div class="panel-body">
          <div text-angular ng-model="post.body"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-3">
    <div class="well">
      <p>Posted: {{moment(post.postDate).fromNow()}}<text ng-if="post.lastEditDate"></p>
      <p>Last edited: {{moment(post.lastEditDate).fromNow()}}</text></p>
      <br>
      <p>
        <a ui-sref="post({postId: post.postId})">
          <button class="btn btn-info">
            View Post
          </button>
        </a>
      </p>
      <p>
        <button class="btn btn-success" ng-click="edit()">Save Changes</button>
      </p>
      <p>
        <button class="btn btn-danger">Delete Post</button>
      </p>
    </div>
  </div>